.kiwi-form {
  label {
    margin-bottom: 0;
    font-size: .8rem;
  }

  .custom-control-label { // fix checkbox label position
    min-height: 24px;
    display: flex;
    align-items: center;
  }

  .form-group {
    margin-bottom: .5rem;
  }

  formly-field:last-child .form-group {
    margin-bottom: 0;
  }

  &.kiwi-form-inline {
    @include media-breakpoint-up(sm) {
      .form-group {
        display: flex;
      }

      .kiwi-form-label {
        width: 140px + $grid-gutter-width;
        padding: 8px $grid-gutter-width 8px 0;
      }

      .kiwi-form-control-container {
        flex: 1;
      }
    }
  }
}

a.input-group-text {
  &:hover {
    text-decoration: none;
  }
}

.has-error {
  .input-group-text {
    border-color: $danger;
    background: $danger;
    color: #fff;
  }
}

.input-media-preview,
.input-youtube-preview {
  width: 90px;
  padding-bottom: 56.25%;
  background-size: cover;
  background-position: center center;
  position: relative;

  i {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -7px 0 0 -9px;
  }
}
