.kiwi-form {
  label {
    margin-bottom: 0;
    font-size: .8rem;
  }

  .switch {
    display: block;
    margin: 4px 0;
  }

  .custom-control-label { // fix checkbox label position
    min-height: 24px;
    display: flex;
    align-items: center;
  }

  .form-group {
    margin-bottom: .5rem;
  }

  formly-field:last-child .form-group {
    margin-bottom: 0;
  }

  &.kiwi-form-inline {
    @include media-breakpoint-up(sm) {
      .form-group {
        display: flex;
      }

      .kiwi-form-label {
        width: 140px + $grid-gutter-width;
        padding: 8px $grid-gutter-width 8px 0;
      }

      .kiwi-form-control-container {
        flex: 1;
      }
    }
  }
}

a.input-group-text {
  &:hover {
    text-decoration: none;
  }
}

.has-error {
  .input-group-text {
    border-color: $danger;
    background: $danger;
    color: #fff;
  }
}

.input-media-preview,
.input-youtube-preview {
  width: 85px;
  padding-bottom: 56.25%;
  background-size: cover;
  background-position: center center;
  position: relative;

  i {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -7px 0 0 -9px;
  }
}

.color-picker-preview {
  height: 33px;
  width: 42px;
  @include border-radius($input-border-radius 0 0 $input-border-radius)
}

color-picker .color-picker {
  border: 0;
  margin-left: 6px;
  margin-top: -5px;

  .arrow {
    display: none;
  }

  &:before {
    content: '';
    position: absolute;
    top: -7px;
    left: -7px;
    right: -7px;
    bottom: -7px;
    box-shadow: $box-shadow;
    border-radius: $border-radius;
    background: #fff;
    z-index: -1;
  }

  input {
    @extend .form-control;
    border-color: $input-border-color !important;
  }
}
