.sitemap-item {
  background: #f9f9f9;
  margin-bottom: 10px;
  display: flex;
  position: relative;
  min-height: 35px;

  > * {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &.not-created {
    .sitemap-item-content {
      color: #aaa;
    }
  }

  .sitemap-item-content-container {
    border-top: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
    border-right: 1px solid $border-color;
    flex: 1;
    display: flex;
  }

  .btn-sitemap {
    font-size: .7rem;
    padding: 3px 5px;
    margin: 0 3px;
  }

  .btn-collapse {
    padding: 0;
    width: 30px;
    border: 1px solid $border-color;

    &.toggle {
      border: 0;
      background: $primary;
      color: #fff;

      &:hover {
        background: darken($primary, 10%);
        text-decoration: none;
      }
    }

    &:focus {
      outline: none;
    }
  }

  .sitemap-item-content {
    flex: 1;
    padding: 5px 10px;
    justify-content: start;
    font-size: .9em;
  }

  .sitemap-item-icons {
    padding: 0 10px;
  }
}

.sitemap-sub-item {
  padding-left: 20px;
}
