<div class="app flex-row align-items-center" *ngIf="ready$ | async">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card-group">
                    <div class="card p-4">
                        <div class="card-body">
                            <h1>Login</h1>
                            <p class="text-muted">Sign In to your account</p>
                            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" novalidate>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <i class="icon-user"></i>
                                        </div>
                                    </div>
                                    <input formControlName="email" type="text" class="form-control"
                                           placeholder="email" autocomplete="email"
                                           [ngClass]="{'is-invalid': loginForm.get('email').invalid}">
                                    <div class="invalid-feedback ml-5"
                                         *ngIf="loginForm.get('email').invalid && (loginForm.get('email').dirty || loginForm.get('email').touched)">
                                        <div *ngIf="loginForm.get('email').errors.required">
                                            Name is required.
                                        </div>
                                        <div *ngIf="loginForm.get('email').errors.minlength">
                                            Name must be at least 4 characters long.
                                        </div>
                                        <div *ngIf="loginForm.get('email').errors.forbiddenName">
                                            Name cannot be Bob.
                                        </div>
                                    </div>
                                </div>
                                <div class="input-group mb-4">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <i class="icon-lock"></i>
                                        </div>
                                    </div>
                                    <input formControlName="password" type="password" class="form-control"
                                           placeholder="Password" autocomplete="current-password"
                                           [ngClass]="{'is-invalid': loginForm.get('password').invalid}">
                                    <div class="invalid-feedback ml-5"
                                         *ngIf="loginForm.get('password').invalid && (loginForm.get('password').dirty || loginForm.get('password').touched)">
                                        <div *ngIf="loginForm.get('password').errors.required">
                                            Name is required.
                                        </div>
                                        <div *ngIf="loginForm.get('password').errors.minlength">
                                            Name must be at least 4 characters long.
                                        </div>
                                        <div *ngIf="loginForm.get('password').errors.forbiddenName">
                                            Name cannot be Bob.
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <button type="submit" class="btn btn-primary px-4">
                                            Login
                                        </button>
                                    </div>
                                    <div class="col-6 text-right">
                                        <button type="button" class="btn btn-link px-0">Forgot password?</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
