// Variable overrides

$title-container-background: #ffffff !default;

$input-placeholder-color: #ccc;

$aside-menu-width: 275px;

$layout-transition-speed: 0s;

// Grid breakpoints

$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px,
        xxl: 1600px
);

// Grid containers

$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 960px,
        xl: 1140px,
        xxl: 1540px
);

// Ixo Variables

$ixo-form-label-width: 175px !default;

$theme-colors: (
  "white": #fff,
);
