#loader {
    background: #ffffff;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    > div {
        width: 160px;
        .message {
            font-weight: bold;
            font-size: 80%;
        }
    }
}
