// Here you can add other styles

#login-background {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    opacity: 0.7;
    background-position: center center;
    background-size: cover;
    //background-image: url('../assets/img/background.jpg');
}

.app-header.navbar .navbar-brand {
    background-size: 120px auto;
}
